In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from collections import Counter

In [ ]:
df=pd.read_csv('s420_String.csv')
df.head(7)

,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC
0,I1_2,1.203,0.020,0.005100,0.001500,0,0.11200
1,I1_3,1.203,0.000,0.000000,0.000000,0,0.11200
2,I1_4,0.863,0.000,0.000000,0.000000,0,0.05760
3,I105_1,0.243,0.001,0.000300,0.000018,0,0.00458
4,I105_2,0.863,0.996,0.000061,0.000013,0,0.05760
5,I105_3,0.243,0.995,0.000200,0.000015,0,0.00458
6,I105_4,0.243,0.000,0.000000,0.000000,0,0.00458

In [ ]:
df.shape

(314, 7)

In [ ]:
clusters = DBSCAN(eps=1.5, min_samples=40).fit(df.drop(['Net'], axis=1))
clusters.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0])

In [ ]:
dft=pd.read_csv('s420_trojan_string.csv')
dft.head(7)

,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC
0,and1,0.243,0.028,0.0004,0.000025,0,0.12200
1,AO,1.203,0.172,0.0024,0.000700,0,0.11200
2,CO,0.243,0.000,0.0000,0.000000,0,0.00458
3,I1_2,1.203,0.020,0.0051,0.001500,0,0.11200
4,I1_3,1.203,0.000,0.0000,0.000000,0,0.11200
5,I1_4,0.863,0.000,0.0000,0.000000,0,0.05760
6,I105_1,0.243,0.001,0.0003,0.000018,0,0.00458

In [ ]:
dft.shape

(324, 7)

In [ ]:
dft

,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC
0,and1,0.243,0.028,0.000400,0.000025,0,0.12200
1,AO,1.203,0.172,0.002400,0.000700,0,0.11200
2,CO,0.243,0.000,0.000000,0.000000,0,0.00458
3,I1_2,1.203,0.020,0.005100,0.001500,0,0.11200
4,I1_3,1.203,0.000,0.000000,0.000000,0,0.11200
...,...,...,...,...,...,...,...
319,X_6,1.203,0.004,0.000061,0.000018,0,0.11200
320,X_7,1.203,0.000,0.000000,0.000000,0,0.11200
321,X_8,1.203,0.000,0.000000,0.000000,0,0.11200
322,X_9,1.565,0.000,0.000000,0.000000,0,0.18900
323,Z,0.243,0.370,0.124500,0.007400,1,0.11200

In [ ]:
dfnew=pd.concat([df,dft],axis = 1, keys = ['df', 'dft'])
dfnew

         df                                                                \
        Net Total Net Load Static Prob. Toggle rate Switching Power Class
0      I1_2          1.203        0.020    0.005100        0.001500   0.0
1      I1_3          1.203        0.000    0.000000        0.000000   0.0
2      I1_4          0.863        0.000    0.000000        0.000000   0.0
3    I105_1          0.243        0.001    0.000300        0.000018   0.0
4    I105_2          0.863        0.996    0.000061        0.000013   0.0
..      ...            ...          ...         ...             ...   ...
319     NaN            NaN          NaN         NaN             NaN   NaN
320     NaN            NaN          NaN         NaN             NaN   NaN
321     NaN            NaN          NaN         NaN             NaN   NaN
322     NaN            NaN          NaN         NaN             NaN   NaN
323     NaN            NaN          NaN         NaN             NaN   NaN

               dft                                                          \
          RC   Net Total Net Load Static Prob. Toggle rate Switching Power
0    0.11200  and1          0.243        0.028    0.000400        0.000025
1    0.11200    AO          1.203        0.172    0.002400        0.000700
2    0.05760    CO          0.243        0.000    0.000000        0.000000
3    0.00458  I1_2          1.203        0.020    0.005100        0.001500
4    0.05760  I1_3          1.203        0.000    0.000000        0.000000
..       ...   ...            ...          ...         ...             ...
319      NaN   X_6          1.203        0.004    0.000061        0.000018
320      NaN   X_7          1.203        0.000    0.000000        0.000000
321      NaN   X_8          1.203        0.000    0.000000        0.000000
322      NaN   X_9          1.565        0.000    0.000000        0.000000
323      NaN     Z          0.243        0.370    0.124500        0.007400


    Class       RC
0       0  0.12200
1       0  0.11200
2       0  0.00458
3       0  0.11200
4       0  0.11200
..    ...      ...
319     0  0.11200
320     0  0.11200
321     0  0.11200
322     0  0.18900
323     1  0.11200

[324 rows x 14 columns]

In [ ]:
dfnew[~dfnew['dft']['Net'].isin(dfnew['df']['Net'])]

       df                                                                \
      Net Total Net Load Static Prob. Toggle rate Switching Power Class
0    I1_2          1.203        0.020      0.0051          0.0015   0.0
1    I1_3          1.203        0.000      0.0000          0.0000   0.0
2    I1_4          0.863        0.000      0.0000          0.0000   0.0
188   N15          0.243        0.000      0.0000          0.0000   0.0
189   N16          0.243        0.000      0.0000          0.0000   0.0
286  P_14          0.243        0.000      0.0000          0.0000   0.0
303  X_15          0.863        0.000      0.0000          0.0000   0.0
304  X_16          0.863        0.000      0.0000          0.0000   0.0
305   X_2          1.203        0.488      0.0122          0.0036   0.0
306   X_3          1.203        0.461      0.0059          0.0017   0.0

               dft                                                          \
          RC   Net Total Net Load Static Prob. Toggle rate Switching Power
0    0.11200  and1          0.243        0.028      0.0004        0.000025
1    0.11200    AO          1.203        0.172      0.0024        0.000700
2    0.05760    CO          0.243        0.000      0.0000        0.000000
188  0.00458  N110          0.243        0.000      0.0000        0.000000
189  0.00458  N111          0.243        0.000      0.0000        0.000000
286  0.00458    op          0.243        0.370      0.1245        0.007400
303  0.05760    QA          0.863        0.495      0.0010        0.000200
304  0.05760    QB          0.863        0.028      0.0004        0.000090
305  0.11200    QC          0.544        0.000      0.0000        0.000000
306  0.11200    QD          0.243        0.000      0.0000        0.000000


    Class       RC
0       0  0.12200
1       0  0.11200
2       0  0.00458
188     0  0.00458
189     0  0.00458
286     0  0.00458
303     0  0.05760
304     0  0.05760
305     0  0.02290
306     0  0.00458

In [ ]:
dfnew[~dfnew['dft']['Net'].isin(dfnew['df']['Net'])]['dft']['Net']

0      and1
1        AO
2        CO
188    N110
189    N111
286      op
303      QA
304      QB
305      QC
306      QD
Name: Net, dtype: object

In [ ]:
trjnet=dfnew[~dfnew['dft']['Net'].isin(dfnew['df']['Net'])]['dft']['Net']
trjnet

0      and1
1        AO
2        CO
188    N110
189    N111
286      op
303      QA
304      QB
305      QC
306      QD
Name: Net, dtype: object

In [ ]:
dftnew = dft.merge(trjnet, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
dftnew

,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC,_merge
3,I1_2,1.203,0.020,0.005100,0.001500,0,0.11200,left_only
4,I1_3,1.203,0.000,0.000000,0.000000,0,0.11200,left_only
5,I1_4,0.863,0.000,0.000000,0.000000,0,0.05760,left_only
6,I105_1,0.243,0.001,0.000300,0.000018,0,0.00458,left_only
7,I105_2,0.863,0.996,0.000061,0.000013,0,0.05760,left_only
...,...,...,...,...,...,...,...,...
319,X_6,1.203,0.004,0.000061,0.000018,0,0.11200,left_only
320,X_7,1.203,0.000,0.000000,0.000000,0,0.11200,left_only
321,X_8,1.203,0.000,0.000000,0.000000,0,0.11200,left_only
322,X_9,1.565,0.000,0.000000,0.000000,0,0.18900,left_only
323,Z,0.243,0.370,0.124500,0.007400,1,0.11200,left_only

In [ ]:
dftnew.drop('_merge', inplace=True, axis=1)

In [ ]:
dftnew = dftnew.reset_index()
dftnew

,index,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC
0,3,I1_2,1.203,0.020,0.005100,0.001500,0,0.11200
1,4,I1_3,1.203,0.000,0.000000,0.000000,0,0.11200
2,5,I1_4,0.863,0.000,0.000000,0.000000,0,0.05760
3,6,I105_1,0.243,0.001,0.000300,0.000018,0,0.00458
4,7,I105_2,0.863,0.996,0.000061,0.000013,0,0.05760
...,...,...,...,...,...,...,...,...
309,319,X_6,1.203,0.004,0.000061,0.000018,0,0.11200
310,320,X_7,1.203,0.000,0.000000,0.000000,0,0.11200
311,321,X_8,1.203,0.000,0.000000,0.000000,0,0.11200
312,322,X_9,1.565,0.000,0.000000,0.000000,0,0.18900
313,323,Z,0.243,0.370,0.124500,0.007400,1,0.11200

In [ ]:
dftnew.drop('index', inplace=True, axis=1)
dftnew

,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC
0,I1_2,1.203,0.020,0.005100,0.001500,0,0.11200
1,I1_3,1.203,0.000,0.000000,0.000000,0,0.11200
2,I1_4,0.863,0.000,0.000000,0.000000,0,0.05760
3,I105_1,0.243,0.001,0.000300,0.000018,0,0.00458
4,I105_2,0.863,0.996,0.000061,0.000013,0,0.05760
...,...,...,...,...,...,...,...
309,X_6,1.203,0.004,0.000061,0.000018,0,0.11200
310,X_7,1.203,0.000,0.000000,0.000000,0,0.11200
311,X_8,1.203,0.000,0.000000,0.000000,0,0.11200
312,X_9,1.565,0.000,0.000000,0.000000,0,0.18900
313,Z,0.243,0.370,0.124500,0.007400,1,0.11200

In [ ]:
lists = df.RC == dftnew.RC
lists

0       True
1       True
2       True
3       True
4       True
       ...
309     True
310     True
311     True
312     True
313    False
Name: RC, Length: 314, dtype: bool

In [ ]:
dftnew['result']=lists
dftnew

,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC,result
0,I1_2,1.203,0.020,0.005100,0.001500,0,0.11200,True
1,I1_3,1.203,0.000,0.000000,0.000000,0,0.11200,True
2,I1_4,0.863,0.000,0.000000,0.000000,0,0.05760,True
3,I105_1,0.243,0.001,0.000300,0.000018,0,0.00458,True
4,I105_2,0.863,0.996,0.000061,0.000013,0,0.05760,True
...,...,...,...,...,...,...,...,...
309,X_6,1.203,0.004,0.000061,0.000018,0,0.11200,True
310,X_7,1.203,0.000,0.000000,0.000000,0,0.11200,True
311,X_8,1.203,0.000,0.000000,0.000000,0,0.11200,True
312,X_9,1.565,0.000,0.000000,0.000000,0,0.18900,True
313,Z,0.243,0.370,0.124500,0.007400,1,0.11200,False

In [ ]:
dftnew.loc[dftnew['result'] == False]

,Net,Total Net Load,Static Prob.,Toggle rate,Switching Power,Class,RC,result
45,I265,0.544,0.000,0.0000,0.0000,0,0.00458,False
306,X_3,1.565,0.461,0.0059,0.0022,0,0.18900,False
307,X_4,1.565,0.405,0.0027,0.0010,0,0.18900,False
313,Z,0.243,0.370,0.1245,0.0074,1,0.11200,False

In [ ]:
dftnew.loc[dftnew['result'] == False].sum()

Net                I265X_3X_4Z
Total Net Load           3.917
Static Prob.             1.236
Toggle rate             0.1331
Switching Power         0.0106
Class                        1
RC                     0.49458
result                       0
dtype: object